head
    link(rel="stylesheet" href="/assets/styles/land.css")
    script(src="/assets/scripts/land.js" defer)
body
    #HUD
        #DevInfo.invisibility
            div
                h3 POSITION
                #DEV_position_x x : 123
                #DEV_position_y y : 123
        #DevConsole.invisibility
            #DEV_chatList_mom
                #DEV_chatList
            input#DEV_chat
    #player
    #game
    #hotbar
        .item.grass.selected(data-id="grass")
        .item.path(data-id="path")